# Import Libraries

In [1]:
from RiskLabAI.features.microstructural_features.corwin_schultz import *
from RiskLabAI.features.microstructural_features.bekker_parkinson_volatility_estimator import *
import pandas as pd

# Read Data

In [2]:
ohlcv_data = pd.read_csv("./data/AAPL.csv", header=0, index_col="Date")
print(ohlcv_data.shape)

ohlcv_data.head(10)

(251, 6)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,164.270004,166.289993,164.220001,166.169998,165.287750,56976200
2023-04-04,166.600006,166.839996,165.110001,165.630005,164.750626,46278300
2023-04-05,164.740005,165.050003,161.800003,163.759995,162.890549,51511700
2023-04-06,162.429993,164.960007,162.000000,164.660004,163.785767,45390100
2023-04-10,161.419998,162.029999,160.080002,162.029999,161.169724,47716900
2023-04-11,162.350006,162.360001,160.509995,160.800003,159.946243,47644200
2023-04-12,161.220001,162.059998,159.779999,160.100006,159.249985,50133100
2023-04-13,161.630005,165.800003,161.419998,165.559998,164.681000,68445600
2023-04-14,164.589996,166.320007,163.820007,165.210007,164.332855,49386500
2023-04-17,165.089996,165.389999,164.029999,165.229996,164.352737,41516200

# Corwin-Schultz Estimator

In [3]:
beta = beta_estimates(ohlcv_data.High, ohlcv_data.Low, 20)
gamma = gamma_estimates(ohlcv_data.High, ohlcv_data.Low)
alpha = alpha_estimates(beta, gamma)

In [4]:
corwin_schultz = corwin_schultz_estimator(ohlcv_data.High, ohlcv_data.Low, window_span=20)
# Window span is 20, so firsts 20 values will be NaN
corwin_schultz

Date
2023-04-03         NaN
2023-04-04         NaN
2023-04-05         NaN
2023-04-06         NaN
2023-04-10         NaN
                ...
2024-03-26   -0.955352
2024-03-27   -0.988018
2024-03-28   -0.976940
2024-04-01   -0.963179
2024-04-02   -0.970848
Length: 251, dtype: float64

# Bekker-Parkinson Volatility Estimator

In [5]:
sigma = sigma_estimates(beta, gamma)
# Window span is 20, so firsts 20 values will be NaN
sigma

Date
2023-04-03         NaN
2023-04-04         NaN
2023-04-05         NaN
2023-04-06         NaN
2023-04-10         NaN
                ...
2024-03-26    0.087355
2024-03-27    0.100018
2024-03-28    0.095207
2024-04-01    0.087962
2024-04-02    0.089435
Length: 251, dtype: float64

In [6]:
bekker_parkinson_volatility = bekker_parkinson_volatility_estimates(ohlcv_data.High, ohlcv_data.Low, window_span=20)
# Window span is 20, so firsts 20 values will be NaN
bekker_parkinson_volatility

Date
2023-04-03         NaN
2023-04-04         NaN
2023-04-05         NaN
2023-04-06         NaN
2023-04-10         NaN
                ...
2024-03-26    0.087355
2024-03-27    0.100018
2024-03-28    0.095207
2024-04-01    0.087962
2024-04-02    0.089435
Length: 251, dtype: float64