In [3]:
from controller.data_structure_controller import Controller
import pandas as pd

controller = Controller()
data = pd.read_csv('../ahrom_edited.csv')

data.date = pd.to_datetime(data.date)

# Time Bars

In [4]:
time = controller.handle_input_command(
    method_name="time_bars",
    method_arguments={
        "resolution_type":'MIN',
        "resolution_units":10,
    },
    input_data=data,
    batch_size=1_000_000,
)

time

batch 0 with size 729726

,Date Time,Tick Number,Open,High,Low,Close,Cumulative Volume,Cumulative Buy Volume,Cumulative Sell Volume,Cumulative Ticks,Cumulative Dollar Value,Threshold
0,2022-06-01 09:13:00,8,13170.0,13190.0,13060.0,13180.0,27744.0,9500.0,18244.0,8,3.651488e+08,1654075200
1,2022-06-01 09:22:31,41,13060.0,13100.0,12980.0,12980.0,259989.0,46144.0,213845.0,33,3.382478e+09,1654075800
2,2022-06-01 09:33:09,56,12960.0,12970.0,12900.0,12900.0,51512.0,774.0,50738.0,15,6.669495e+08,1654076400
3,2022-06-01 09:41:25,94,12910.0,12980.0,12850.0,12860.0,186055.0,67155.0,118900.0,38,2.395223e+09,1654077000
4,2022-06-01 09:50:45,102,12900.0,12950.0,12890.0,12890.0,59899.0,3400.0,56499.0,8,7.723361e+08,1654077600
...,...,...,...,...,...,...,...,...,...,...,...,...
4118,2023-03-29 11:40:03,726916,22560.0,22740.0,22460.0,22600.0,13209760.0,6866405.0,6343355.0,727,2.985754e+11,1680090600
4119,2023-03-29 11:50:02,727477,22660.0,22680.0,22480.0,22510.0,8112502.0,2838323.0,5274179.0,561,1.831450e+11,1680091200
4120,2023-03-29 12:00:02,727918,22500.0,22570.0,22350.0,22470.0,6658078.0,2036498.0,4621580.0,441,1.494640e+11,1680091800
4121,2023-03-29 12:10:01,728304,22470.0,22500.0,22400.0,22460.0,4370470.0,1683483.0,2686987.0,386,9.807090e+10,1680092400
4122,2023-03-29 12:20:00,728718,22450.0,22600.0,22430.0,22560.0,5076463.0,2715939.0,2360524.0,414,1.143308e+11,1680093000