In [1]:
import numpy as np
import pandas as pd
#from pandas_datareader import data as wb
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
import yfinance as yf
ohlcv_data = yf.Ticker("AAPL").history(
    interval="1m",
    period="5d"
)

In [3]:
ohlcv_data = ohlcv_data[["Open", "High", "Low", "Close", "Volume"]]

In [4]:
ohlcv_data.index = ohlcv_data.index.strftime('%Y-%m-%d %H:%M:%S')

In [5]:
ohlcv_data.head()

                           Open        High         Low       Close   Volume
Datetime
2022-08-22 09:30:00  169.690002  169.710007  168.929993  169.520004  3685094
2022-08-22 09:31:00  169.520004  169.740005  169.520004  169.699997   471038
2022-08-22 09:32:00  169.710007  169.736801  169.259995  169.309998   352459
2022-08-22 09:33:00  169.250000  169.250000  169.210007  169.220001   291817
2022-08-22 09:34:00  169.250000  169.250000  168.940994  169.039993   357077

In [6]:
ohlcv_data.save_batch_run("AAPL_OHLCV_1m_Data.csv")